<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <heliconZoo>
            <clear />
            <application name="rails.project">
                <environmentVariables>
                    <add name="Path" value="%SystemDrive%\Git\bin;%GEM_HOME%\bin;%SystemDrive%\Ruby23-x64\bin;%SystemDrive%\Zoo\Ruby.2.Devkit\bin;%Path%" />
                </environmentVariables>
            </application>
        </heliconZoo>
        <handlers>
            <add name="rails.project#x64" path="*" verb="*" modules="HeliconZoo_x64" scriptProcessor="ruby.2.3x64.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
            <add name="rails.project#x86" path="*" verb="*" modules="HeliconZoo_x86" scriptProcessor="ruby.2.3x64.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
